<html>
    <body>
        <h1>Some popular authors</h1>
        <table>
            {% for author in authors %}
                <tr>
                    <td colspan="2">
                        {{ author.name }}
                    </td>
                </tr>
                {% for book in books_by_author[author] %}
                    <tr><td>---</td>
                        <td>
                            {{ book.title}}
                        </td>
                    </tr>
                {% endfor %}
            {% endfor %}
        </table>
    </body>
</html>
